.button-container {
    display: flex;
    justify-content: space-between; /* Distribuye los botones equitativamente en el espacio disponible */
    align-items: center; /* Alinea verticalmente los botones al centro del contenedor */
}



h3 {
    background-position: center;
    background-position-y: center;
    background-size: 10%; 
    background-color: #5593aa;
    color: #ffffff;
    padding: 20px;
    text-align: center;
    font-size: 200%;
    display: flex;
    flex-direction: column;
    height: 10vh;
    position: relative;
    top: -150px;
    
    
}

.cuadro-de-texto {
    width: 300px;
    background-color: #5593aa;
    border: 1px solid #ccc;
    padding: 10px;
    font-size: 16px;
    color: #f1f1f1;
    margin: 25px; /* Espacio entre los cuadros */
    display: inline-block; /* Coloca los cuadros en línea */
    height: 35vh; /* Altura del 25% de la ventana */
    position: relative;
    top: -150px;
}

    .cuadro-de-texto a:hover {
        background-color: #eff2f6;
}
