/* Estilos para la página */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #d9d9d9;
}

header {
    background-image: url('imagenes/imagen2.png.png');
    background-size: center; /* Usar "cover" en lugar de "center" para ajustar la imagen de fondo */
    background-repeat: no-repeat;
    background-position: center;
    background-position-y: center;
    background-size: 7%; 
    background-color: #5593aa;
    color: #ffffff;
    padding: 5px;
    text-align: center;
}


h1 {
    font-size: 24px;
    margin: 10px;
    padding-top: 25px;
}

nav {
    margin-bottom: 10px;
    padding-top: 25px;
}

nav a {
    color: #ffffff;
    text-decoration: none;
    margin-right: 10px;
    padding-top: 40px;
}

section {
    padding-top: 39px;
}

h2 {
    background-size: 7%;
    background-color: #5593aa;
    color: rgb(248, 248, 248);
    text-emphasis-position: relative;
    padding: 20px;
    text-align: center;
    font-size: 200%;
    display: flex;
    flex-direction: column;
    height: 10vh;
    top: -305px;
    position: relative;
}

#courses-list {
    justify-content: flex-start;
    align-items: center;
    list-style: none;
    padding: 0;
}

#courses-list li {
    margin-bottom: 10px;
}

/* Estilos adicionales para la promoción */
#promotion {
    background-image: url('imagenes/imagen1.png.png');
    background-size: cover; /* Utiliza "cover" para ajustar la imagen de fondo */
    background-repeat: no-repeat;
    background-position: center top;
    background-size: 100%; /* Establece el tamaño de la imagen de fondo al 100% */
    height: 100px;
    color: #0f4571;
    text-align: center;
    padding: 20px;
    margin: 10px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    height: 100vh;
}




/* Estilos para el carrusel */
.carousel-container {
    position: relative;
    overflow: hidden;
    width: 100%;
    max-width: 1300px; /* Ajusta el ancho máximo según tus necesidades */
    margin: 0 auto;
    margin-top: -420px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh; /* Altura del carrusel toma toda la altura de la ventana */
}

.carousel-list {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex; /* Para colocar las imágenes en una fila horizontal */
}

.carousel-list li {
    flex: 0 0 100%;
}

.carousel-list img {
    max-width: 100%;
    height: auto;
}

#prevBtn, #nextBtn {
    background-color: #333;
    color: #fff;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    font-size: 16px;
    margin: 5px; /* Margen entre los botones */
}

/* Contenedor flex para los botones */
.button-container {
    display: flex;
    justify-content: space-between; /* Distribuye los botones equitativamente en el espacio disponible */
    align-items: center; /* Alinea verticalmente los botones al centro del contenedor */
}



h3 {
    background-position: center;
    background-position-y: center;
    background-size: 10%; 
    background-color: #5593aa;
    color: #ffffff;
    padding: 20px;
    text-align: center;
    font-size: 200%;
    display: flex;
    flex-direction: column;
    height: 10vh;
    position: relative;
    top: -150px;
    
    
}

.cuadro-de-texto {
    width: 300px;
    background-color: #5593aa;
    border: 1px solid #ccc;
    padding: 10px;
    font-size: 16px;
    color: #f1f1f1;
    margin: 25px; /* Espacio entre los cuadros */
    display: inline-block; /* Coloca los cuadros en línea */
    height: 35vh; /* Altura del 25% de la ventana */
    position: relative;
    top: -150px;
}

    .cuadro-de-texto a:hover {
        background-color: #eff2f6;
}

